{
    "service_provider": {
        "auth_url": "https://{{ item.item.hostname }}:35357/v3/OS-FEDERATION/identity_providers/{{ node_cloud }}/protocols/saml2/auth",
        "sp_url": "https://{{ item.item.hostname }}:5000/Shibboleth.sso/SAML2/ECP",
        "enabled": true
    },
    "_hack": null
}
