# Figure out how to generate this in a loop of some kind....
clouds:
{% for node in openstack_nodes %}
{% if node.cloud is defined %}
   {{ node.cloud }}-admin:
      username: admin
      password: password
      identity_api_version: "3"
      project_domain_id: default
      user_domain_id: default
      project_name: admin
      auth_url: https://{{ node.hostname }}:5000/v3
{% endif %}
{% endfor %}
